@import "../waybar/styles/color.css";

* {
    font-family: JetBrainsMono Nerd Font Mono, fantasy;
    font-weight: bold;
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 0.9;
    background: @background-button
}
.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}
.notification {
    background: transparent;
    padding: 0;
    margin: 0px;
}
.notification-content {
    background: @background-button;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid @background-border;
    margin: 0;
}
.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
.close-button {
    background: @background-button;
    color: @color-text;
    text-shadow: none;
    padding: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.close-button:hover {
    box-shadow: none;
    background: @background-button;
    transition: all .15s ease-in-out;
    border: none
}
.notification-action {
    border: 2px solid @background-border;
    border-top: none;
    border-radius: 5px;
}
.notification-default-action:hover,
.notification-action:hover {
    color: @color-text;
    background: @background-button;
}
.notification-default-action {
    border-radius: 5px;
    margin: 0px;
}
.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}
.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: @background-button;
}
.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: @background-button;
}
.inline-reply {
    margin-top: 8px
}
.inline-reply-entry {
    background: @background-button;
    color: @color-text;
    caret-color: @color-text;
    border: 1px solid @background-border;
    border-radius: 5px
}
.inline-reply-button {
    margin-left: 4px;
    background: @background-button;
    border: 1px solid @background-border;
    border-radius: 5px;
    color: @color-text
}
.inline-reply-button:disabled {
    background: initial;
    color: @color-text;
    border: 1px solid transparent
}
.inline-reply-button:hover {
    background: @background-button
}
.body-image {
    margin-top: 6px;
    background-color: @color-text;
    border-radius: 5px
}
.summary {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @color-text;
    text-shadow: none
}
.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @color-text;
    text-shadow: none;
    margin-right: 18px
}
.body {
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    color: @color-text;
    text-shadow: none
}
.control-center {
    background: @background-button;
    border: 2px solid @background-border;
    border-radius: 5px;
}
.control-center-list {
    background: transparent
}
.control-center-list-placeholder {
    opacity: .5
}
.floating-notifications {
    background: transparent
}
.blank-window {
    background: alpha(black, 0)
}
.widget-title {
    color: @color-text;
    background: @background-button;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.widget-title>button {
    font-size: 1rem;
    color: @color-text;
    text-shadow: none;
    background: @background-button;
    box-shadow: none;
    border-radius: 5px;
}
.widget-title>button:hover {
    background: @background-button;
    color: @color-text;
}
.widget-dnd {
    background: @background-button;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    font-size: large;
    color: @color-text;
}
.widget-dnd>switch {
    border-radius: 5px;
    background: @background-button;
}
.widget-dnd>switch:checked {
    background: @background-button;
}
.widget-dnd>switch slider {
    background: green;
    border-radius: 5px
}
.widget-dnd>switch:checked slider {
    background: red;
    border-radius: 5px
}
.widget-label {
    margin: 10px 10px 5px 10px;
}
.widget-label>label {
    font-size: 1rem;
    color: @color-text;
}
.widget-mpris {
    color: @color-text;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
}
.widget-mpris > box > button {
    border-radius: 5px;
}
.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px
}
.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}
.widget-mpris-subtitle {
    font-size: 1.1rem
}
.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}
.topbar-buttons>button {
    border: none;
    background: transparent
}
.widget-volume {
    background: @background-button;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    font-size: x-large;
    color: @color-text;
}
.widget-volume>box>button {
    background: @background-button;
    border: none
}
.per-app-volume {
    background-color: @background-button;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 5px;
}