// Only floating
window-rule {
    match app-id="steam"
    match app-id="org.telegram.desktop"
    match app-id="telegram-desktop"
    match app-id="org.qbittorrent.qBittorrent"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

//######################################################################
//### Niri windows                                                   ###
//######################################################################
// Make transparent
/-window-rule {
    match is-active=false
    opacity 0.8
}
/-window-rule {
    match is-active=true
    opacity 0.98
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

//######################################################################
//### Alacritty rules                                                ###
//######################################################################
window-rule {
    match app-id="Alacritty"
    focus-ring {
         off
    }
}
// Alacritty float
window-rule {
    match app-id="hyprdots-float"
    match app-id="hyprdots-float-small"
    match app-id="hyprdots-float-big"
    open-floating true
    focus-ring {
         off
    }

    min-width 900
    min-height 300
}
// Alacritty float
window-rule {
    match app-id="hyprdots-float-big"
    min-width 1200
    min-height 800
}

// Update menu
window-rule {
    match app-id="hyprdots-float-small"
    focus-ring {
         off
    }

    min-width 1200
    min-height 300
}


//######################################################################
//### System                                                         ###
//######################################################################
// Network
window-rule {
    default-floating-position x=250 y=20 relative-to="bottom-right"
    match app-id="nm-connection-editor"
    open-floating true
    min-width 800
    min-height 400
}
// Pavucontrol (Audio control panel)
window-rule {
    default-floating-position x=70 y=20 relative-to="bottom-right"
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
    min-width 1000
    max-width 1000
    min-height 400
    max-height 400
}
// Bluetooth (Control panel)
window-rule {
    default-floating-position x=70 y=20 relative-to="bottom-right"
    match title="^Bluetooth Manager$"
    open-floating true
    min-width 400
    max-width 400
    min-height 500
    max-height 500
}
// GUI Task manager
window-rule {
    match title="^Ресурсы$"
    open-floating true
    min-width 1200
    min-height 600
}
// Nautilus
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true

    min-width 1200
    min-height 600
}