/* -----------------------------------------------------
 * Tooltip dialog
 * ----------------------------------------------------- */
tooltip {
    border-radius: 5px;
    padding: 2px;
    border: 2px solid @background-border;
    background: @background-button;
    color: @color-text;
}

tooltip label {
    font-size: 14px;
    color: @color-text;
}