/* -----------------------------------------------------
 * Workspace
 * ----------------------------------------------------- */
#workspaces, #taskbar {
    background: @background-button;
    transition: none;
}

/* -----------------------------------------------------
 * Workspace, taskbar buttons
 * ----------------------------------------------------- */
#workspaces button, #taskbar button {
    color: black;
    margin: 1px 3px;
    padding: 0px;
    border-radius: 100%;
}

#taskbar button {
    background: @workspace-color-not-active;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/* -----------------------------------------------------
 * Workspace selected button
 * ----------------------------------------------------- */
#workspaces button:hover, #taskbar button:hover, #workspaces button.hosting-monitor, #workspaces button.special {
    border-radius: 10px;

    background: @workspace-color-not-active;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* -----------------------------------------------------
 * Workspace work space
 * ----------------------------------------------------- */
#workspaces button.persistent {
    background: @workspace-color-active;
}

/* -----------------------------------------------------
 * Workspace active button
 * ----------------------------------------------------- */
#workspaces button.active, #taskbar button.active {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;

    background-color: @workspace-color-active;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* -----------------------------------------------------
 * Workspace empty button
 * ----------------------------------------------------- */
#workspaces button.empty {
    color: @color-text;
    background: @workspace-color-not-active;
}