@import "colors/dark.css";

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */
* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", cursive;
    font-weight: bold;
    font-size: 11px;
    min-height: 10px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    padding-left: 8px;
    padding-right: 8px;
    color: @color-text;
    background: @background-button;
    border: 5px solid @background-border;
}

#waybar {
    background: none;
}

/* -----------------------------------------------------
 * BUTTONs
 * ----------------------------------------------------- */
/* Any */
#custom-wallpaper, #custom-notification, #temperature,
#tray, #battery, #clock, #language, #idle_inhibitor, #custom-media,

    /* Logo group */
#custom-logo, #custom-pacman, #custom-kernel, #custom-updates, #custom-version, #custom-hyprland,

    /* Settings group */
#pulseaudio, #bluetooth, #network, #privacy,

    /* System info group */
#custom-system, #cpu, #memory, #disk,

    /* Power menu */
#custom-power, #custom-lock, #custom-logout, #custom-reboot,

    /* Workspace */
#workspaces
{
    padding-left: 6px;
    padding-right: 6px;

    color: @color-text;
    background: @background-button;

    border: 5px solid @background-border;
}

/* -----------------------------------------------------
 * Border
 * ----------------------------------------------------- */
#custom-logo, #language, #custom-wallpaper, #custom-media {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#custom-system, #custom-power, #custom-media, #window {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* -----------------------------------------------------
 * Padding
 * ----------------------------------------------------- */

/* First left button */
#custom-logo {
    margin-left: 10px;
}

/* Last right button */
#custom-power {
    margin-right: 10px;
}

/* Tray, running applications */
#tray {
    padding-left: 5px;
    padding-right: 5px;
}

/* Current track */
#custom-media {
    padding-left: 7px;
    padding-right: 7px;
}

/* -----------------------------------------------------
 * Padding optionals
 * ----------------------------------------------------- */
#custom-system {
    margin-right: 8px;
}

#custom-wallpaper {
    margin-left: 8px;
}

/* -----------------------------------------------------
 * Workspace
 * ----------------------------------------------------- */
#workspaces {
    background: @background-button;
    transition: none;
}

/* Workspace image */
#custom-logo {
    background-image: image(url("../hypr/icons/hyprland.svg"));
    background-size: 32%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Logo Button */
#custom-logo {
    padding-left: 20px;
    padding-right: 20px;
}

/* -----------------------------------------------------
 * Workspace buttons
 * ----------------------------------------------------- */
#workspaces button {
    transition: none;
    color: @color-text;
    background: transparent;
    animation: ws_normal 20s ease-in-out 1;
}

/* -----------------------------------------------------
 * Workspace selected button
 * ----------------------------------------------------- */
#workspaces button:hover {
    color: @color-text;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* -----------------------------------------------------
 * Workspace work space
 * ----------------------------------------------------- */
#workspaces button.persistent {
    color: @color-text;
}

/* -----------------------------------------------------
 * Workspace active button
 * ----------------------------------------------------- */
#workspaces button.active {
    color: @workspace-color-active;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* -----------------------------------------------------
 * Workspace empty button
 * ----------------------------------------------------- */
#workspaces button.empty {
    color: @workspace-color-not-active;
}


tooltip {
    border-radius: 5px;
    padding: 2px;
    border: 2px solid @background-border;
    background: @background-button;
    color: @color-text;
}

tooltip label {
    font-size: 14px;
    color: @color-text;
}