@import "../rofi/colors/dark.css";

/* -----------------------------------------------------
 * Workspace
 * ----------------------------------------------------- */
@import "styles/workspace.css";

/* -----------------------------------------------------
 * Workspace
 * ----------------------------------------------------- */
@import "styles/buttons.css";

/* Main */
* {
    font-family: "JetBrainsMono Nerd Font", cursive;
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}
/* Panel color */
window#waybar {
    background: rgba(12, 12, 12, 0.7);
    /*border-radius: 15px;*/
}

/* -----------------------------------------------------
 * Tooltip dialog
 * ----------------------------------------------------- */
tooltip {
    border-radius: 5px;
    padding: 2px;
    border: 2px solid @background-border;
    background: @background-button;
    color: @color-text;
}

tooltip label {
    font-size: 14px;
    color: @color-text;
}

/* -----------------------------------------------------
 * HyprIdle manager
 * ----------------------------------------------------- */
#idle_inhibitor.deactivated {
    color: yellow;
}