/*
  ___      _   _
 | _ )_  _| |_| |_ ___ _ _  ___
 | _ \ || |  _|  _/ _ \ ' \(_-<
 |___/\_,_|\__|\__\___/_||_/__/
 */
#custom-wallpaper, #temperature, #tray, #battery, #language, #idle_inhibitor,
#custom-logo, #custom-pacman, #custom-version, #custom-hyprland, #custom-workspace-logo,
#custom-hyprlogo, #pulseaudio, #bluetooth, #network, #custom-system, #cpu,
#memory, #disk, #workspaces, #taskbar, #window, #custom-gpu,
#power-profiles-daemon, #mpris, #clock, #custom-notifications,


#custom-power
{
    margin: 3px 0px;
    padding: 1px 10px;
    border: 0.8px alpha(@text-dark, 0) solid;
}

#custom-wallpaper:hover, #temperature:hover, #battery:hover, #language:hover, #idle_inhibitor:hover,
#custom-logo:hover, #custom-pacman:hover, #custom-version:hover, #custom-hyprland:hover, #custom-workspace-logo:hover,
#custom-hyprlogo:hover, #pulseaudio:hover, #bluetooth:hover, #network:hover, #custom-system:hover, #cpu:hover,
#memory:hover, #disk:hover, #workspaces:hover, #taskbar:hover, #window:hover, #custom-gpu:hover,
#power-profiles-daemon:hover, #mpris:hover,
#custom-power:hover
{
    border: 0.8px rgba(255, 253, 253, 0.7) solid;
}

#clock
{
    margin-right: 5px;
}

/*
   ___        _                ___     _
  / __|  _ __| |_ ___ _ __    / __|___| |___ _ _
 | (_| || (_-<  _/ _ \ '  \  | (__/ _ \ / _ \ '_|
  \___\_,_/__/\__\___/_|_|_|  \___\___/_\___/_|
*/
#cpu, #memory, #disk, #custom-pacman, #temperature, #idle_inhibitor, #custom-gpu, #clock, #custom-notifications,
#pulseaudio, #bluetooth, #custom-version, #custom-hyprland, #network.alt, #power-profiles-daemon, #custom-player-info,

#custom-logo, #network, #language
{
    color: @text;
    background: @background-waybar;
    background: alpha(@background-waybar, 0.85);
}




/*
  ___             _           _         _   _
 | _ ) ___ _ _ __| |___ _ _  | |__ _  _| |_| |_ ___ _ _  ___
 | _ \/ _ \ '_/ _` / -_) '_| | '_ \ || |  _|  _/ _ \ ' \(_-<
 |___/\___/_| \__,_\___|_|   |_.__/\_,_|\__|\__\___/_||_/__/
*/
#custom-wallpaper, #temperature,#tray, #battery, #language, #idle_inhibitor,
#custom-logo, #custom-pacman, #custom-version, #custom-hyprland, #custom-hyprlogo,
#pulseaudio, #bluetooth, #network, #custom-system, #cpu, #memory, #disk,
#custom-power, #workspaces, #taskbar, #window, tooltip, #custom-gpu,
#power-profiles-daemon, #custom-workspace-logo
{
    border-radius: 0.4em;
}




/*
   ___        _               ___             _
  / __|  _ __| |_ ___ _ __   | _ ) ___ _ _ __| |___ _ _
 | (_| || (_-<  _/ _ \ '  \  | _ \/ _ \ '_/ _` / -_) '_|
  \___\_,_/__/\__\___/_|_|_| |___/\___/_| \__,_\___|_|
*/
#image-album-art, #custom-notifications
{
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}
#mpris, #clock
{
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}




/*
   ___                     _         _   _
 / __|_ __  __ _ __ ___  | |__ _  _| |_| |_ ___ _ _  ___
 \__ \ '_ \/ _` / _/ -_) | '_ \ || |  _|  _/ _ \ ' \(_-<
 |___/ .__/\__,_\__\___| |_.__/\_,_|\__|\__\___/_||_/__/
     |_|
*/
#taskbar, #language, #custom-wallpaper, #custom-notifications,
#tray, #temperature, #idle_inhibitor, #custom-power, #battery, #custom-hyprlogo,
#custom-logo, #custom-pacman, #custom-version, #custom-hyprland, #pulseaudio, #custom-workspace-logo,
#bluetooth, #network, #custom-system, #cpu, #memory, #disk, #custom-gpu, #power-profiles-daemon,
#window, #workspaces        { margin-left: 4px; }
#custom-logo                { padding: 0px 20px; margin-left: 5px; }




/*
   ___         _             _         _   _
  / __|___ _ _| |_ ___ _ _  | |__ _  _| |_| |_ ___ _ _  ___
 | (__/ -_) ' \  _/ -_) '_| | '_ \ || |  _|  _/ _ \ ' \(_-<
  \___\___|_||_\__\___|_|   |_.__/\_,_|\__|\__\___/_||_/__/
*/
#mpris, #image-album-art
{
    margin: 3px 0px;
    padding: 0px 10px;
}