/* -----------------------------------------------------
 * Workspace
 * ----------------------------------------------------- */
#workspaces, #taskbar {
    background: @background-button;
    transition: none;
}

/* -----------------------------------------------------
 * Workspace, taskbar buttons
 * Default button
 * ----------------------------------------------------- */
#workspaces button, #taskbar button {
    color: black;
    margin: 0px 3px;
    border-radius: 100%;
    padding: 0px 0px 0px 0px;
}

#taskbar button {
    background: @workspace-color-not-active;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/* -----------------------------------------------------
 * Workspace - hover
 * Hover button of mouse
 * ----------------------------------------------------- */
#workspaces button:hover, #taskbar button:hover {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

/* -----------------------------------------------------
 * Workspace - hosting-monitor
 * Space for not current monitor
 * ----------------------------------------------------- */
#workspaces button.hosting-monitor, #workspaces button.special, #taskbar button.active {
    background: @workspace-color-active;
    background: linear-gradient(-45deg, #42e73c, #23a6d5, #23d5ab, #d5cc23);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* -----------------------------------------------------
 * Workspace - active button
 * Current active space
 * ----------------------------------------------------- */
#workspaces button.active, #taskbar button.active {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;

    animation: gradient 15s ease infinite;
    transition: all 0.35s cubic-bezier(.55,-0.68,.48,1.682);
}

/* -----------------------------------------------------
 * Workspace - empty button
 * Empty space
 * ----------------------------------------------------- */
#workspaces button.empty {
    color: @color-text;
    background: @workspace-color-not-active;
}

/* -----------------------------------------------------
 * Animation Gradient
 * ----------------------------------------------------- */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}