/*****----- Global Properties -----*****/
/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     rgba(43, 44, 43, 0.6);
    background-alt: rgba(0, 0, 0, 0.25);
    foreground:     #FFFFFFFF;
    selected:       gray;
    active:         rgba(255, 255, 255, 0.75);
    urgent:         #E06C75FF;
}