//######################################################################
//### Environment for xdg-desktop-portal (XDP)                       ###
//######################################################################
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"

//######################################################################
//### AUTOSTART                                                      ###
//###                                                                ###
//######################################################################
spawn-at-startup "hypridle"
spawn-at-startup "dunst"
spawn-at-startup "gnome-keyring-daemon --start --components=pkcs11,secrets"


//######################################################################
//### Polkit for GUI                                                 ###
//######################################################################
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"


//######################################################################
//### Panel                                                          ###
//### Support: waybar                                                ###
//######################################################################
spawn-at-startup "waybar"


//######################################################################
//### Wallpaper engine                                               ###
//### Support: swww, hyprpaper                                       ###
//######################################################################
spawn-at-startup "sh" "-c" "bash ~/.config/hypr/bin/ecosys/wallpaper.sh engine"


//######################################################################
//### Environment                                                    ###
//### https://wiki.hyprland.org/Configuring/Environment-variables/   ###
//######################################################################
environment {
    DISPLAY ":1"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
cursor {
    xcursor-theme "FutureCyan"
    xcursor-size 20

    hide-after-inactive-ms 15000
}


//######################################################################
//### Screenshots                                                    ###
//######################################################################
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


//######################################################################
//### Input                                                          ###
//######################################################################
input {
    focus-follows-mouse
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            layout "us,ru"
            options "grp:alt_shift_toggle,compose:ralt,ctrl:nocaps"
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}


//######################################################################
//### Output                                                         ###
//######################################################################
// Check `niri msg outputs`
output "DP-2" {
    //focus-at-startup

    // VRR
    //variable-refresh-rate on-demand=false

    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    mode "2560x1080@200"

    // Set the position of the output in the global coordinate space.
    //position x=2560 y=0

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
}


//######################################################################
//### Overview                                                       ###
//######################################################################
overview {}


//######################################################################
//### Layout                                                         ###
//######################################################################
layout {
    background-color "transparent"
    always-center-single-column

    // Set gaps around windows in logical pixels.
    gaps 12

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        //off

        // How many logical pixels the ring extends out from the windows.
        width 1

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        active-color "rgb(255, 255, 255, 0.5)"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //
        // Note that niri has no way of knowing about the CSD window corner
        // radius. It has to assume that windows have square corners, leading to
        // shadow artifacts inside the CSD rounded corners. This setting fixes
        // those artifacts.
        //
        // However, instead you may want to set prefer-no-csd and/or
        // geometry-corner-radius. Then, niri will know the corner radius and
        // draw the shadow correctly, without having to draw it behind the
        // window. These will also remove client-side shadows if the window
        // draws any.
        //
        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }
}

// Разрешаем слою с namespace=wallpaper уходить в фон
layer-rule {
    match namespace="^(swww-daemon|mpvpaper|wallpaper)$"
    place-within-backdrop true
}

//######################################################################
//### Animations                                                     ###
//######################################################################
animations {
    // Uncomment to turn off all animations.
    // You can also put "off" into each individual animation to disable it.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 1.5

    // Open window
    window-open {
        // off
        duration-ms 450
        curve "ease-out-expo"
        custom-shader r"
            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                vec2 size = size_geo.xy;
                vec2 coords = (coords_geo.xy - vec2(0.5, 0.5)) * size * 2.0;

                // Some padding for borders and shadows.
                float pad = 8.0;
                coords = coords + vec2(pad, pad);
                size = size + vec2(pad, pad) * 2.0;

                coords = coords / length(size);
                float p = niri_clamped_progress;
                if (p * p <= dot(coords, coords))
                    color = vec4(0.0);

                return color;
            }
        "
    }

    // Close window
    window-close {
        duration-ms 300
        curve "ease-out-expo"

        custom-shader r"
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                vec2 size = size_geo.xy;
                vec2 coords = (coords_geo.xy - vec2(0.5, 0.5)) * size * 2.0;

                // Немного паддинга для теней/рамок
                float pad = 8.0;
                coords = coords + vec2(pad, pad);
                size = size + vec2(pad, pad) * 2.0;

                coords = coords / length(size);
                float p = niri_clamped_progress;

                // --- CLOSE MASK ---
                // В начале (p=0) видно всё, в конце (p=1) всё схлопнулось.
                if ((1.0 - p) * (1.0 - p) <= dot(coords, coords)) {
                    color = vec4(0.0);
                }

                return color;
            }
        "
    }

    window-movement {
        spring damping-ratio=0.8 stiffness=800 epsilon=0.0001
    }

    // Individual animations.
    workspace-switch {
        spring damping-ratio=1.0 stiffness=500 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.8 stiffness=800 epsilon=0.0001
        custom-shader r"
            vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
                vec3 coords_next_geo = niri_curr_geo_to_next_geo * coords_curr_geo;
                vec3 coords_prev_geo = niri_curr_geo_to_prev_geo * coords_curr_geo;

                vec3 coords_crop = niri_geo_to_tex_next * coords_next_geo;
                vec3 coords_stretch = niri_geo_to_tex_next * coords_curr_geo;
                vec3 coords_stretch_prev = niri_geo_to_tex_prev * coords_curr_geo;

                // We can crop if the current window size is smaller than the next window
                // size. One way to tell is by comparing to 1.0 the X and Y scaling
                // coefficients in the current-to-next transformation matrix.
                bool can_crop_by_x = niri_curr_geo_to_next_geo[0][0] <= 1.0;
                bool can_crop_by_y = niri_curr_geo_to_next_geo[1][1] <= 1.0;
                bool crop = can_crop_by_x && can_crop_by_y;

                vec4 color;

                if (crop) {
                    // However, when we crop, we also want to crop out anything outside the
                    // current geometry. This is because the area of the shader is unspecified
                    // and usually bigger than the current geometry, so if we don't fill pixels
                    // outside with transparency, the texture will leak out.
                    //
                    // When stretching, this is not an issue because the area outside will
                    // correspond to client-side decoration shadows, which are already supposed
                    // to be outside.
                    if (coords_curr_geo.x < 0.0 || 1.0 < coords_curr_geo.x ||
                            coords_curr_geo.y < 0.0 || 1.0 < coords_curr_geo.y) {
                        color = vec4(0.0);
                    } else {
                        color = texture2D(niri_tex_next, coords_crop.st);
                        // color = texture2D(niri_tex_prev, (niri_geo_to_tex_prev * coords_prev_geo).st);
                    }
                } else {
                    // If we can't crop, then crossfade.
                    color = texture2D(niri_tex_next, coords_stretch.st);
                    vec4 color_prev = texture2D(niri_tex_prev, coords_stretch_prev.st);
                    color = mix(color_prev, color, niri_clamped_progress);
                }

                return color;
            }
        "
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}


//######################################################################
//### Windows rules                                                  ###
//######################################################################
// Only floating
window-rule {
    match app-id="steam"
    match app-id="org.telegram.desktop"
    match app-id="telegram-desktop"
    match app-id="org.qbittorrent.qBittorrent"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

//######################################################################
//### Niri windows                                                   ###
//######################################################################
// Make transparent
/-window-rule {
    match is-active=false
    opacity 0.8
}
/-window-rule {
    match is-active=true
    opacity 0.98
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

//######################################################################
//### Alacritty rules                                                ###
//######################################################################
window-rule {
    match app-id="Alacritty"
    focus-ring {
         off
    }
}
// Alacritty float
window-rule {
    match app-id="hyprdots-float"
    match app-id="hyprdots-float-small"
    match app-id="hyprdots-float-big"
    open-floating true
    focus-ring {
         off
    }

    min-width 900
    min-height 370
}
// Alacritty float
window-rule {
    match app-id="hyprdots-float-big"
    min-width 1200
    min-height 800
}
// Update menu
window-rule {
    match app-id="hyprdots-float-small"
    focus-ring {
         off
    }

    min-width 1200
    min-height 450
}


//######################################################################
//### System                                                         ###
//######################################################################
// Network
window-rule {
    default-floating-position x=250 y=20 relative-to="top-right"
    match app-id="nm-connection-editor"
    open-floating true
    min-width 800
    min-height 400
}
// Pavucontrol (Audio control panel)
window-rule {
    default-floating-position x=70 y=20 relative-to="top-right"
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
    min-width 1000
    max-width 1000
    min-height 400
    max-height 400
}
// Bluetooth (Control panel)
window-rule {
    default-floating-position x=70 y=20 relative-to="top-right"
    match app-id="blueberry.py"
    open-floating true
    min-width 600
    max-width 600
    min-height 400
    max-height 400
}
// GUI Task manager
window-rule {
    match title="^Ресурсы$"
    open-floating true
    min-width 1200
    min-height 600
}
// Nautilus
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true

    min-width 1200
    min-height 600
}
//######################################################################
//### Windows rules end                                              ###
//######################################################################


//######################################################################
//### Key binds                                                      ###
//######################################################################
binds {
    // Help
    Mod+H hotkey-overlay-title="All binds" { show-hotkey-overlay; }

    // Fast lock
    Ctrl+Alt+Return hotkey-overlay-title="Lock PC" { spawn "hyprlock"; }

    // Terminal
    Mod+Return hotkey-overlay-title="Open terminal" { spawn "alacritty"; }
    Mod+Shift+Return hotkey-overlay-title="Open float terminal" { spawn "sh" "-c" "alacritty --class hyprdots-float"; }

    // File manager
    Mod+E hotkey-overlay-title="Open file manager" { spawn "nautilus"; }

    // Rofi
    Mod+R hotkey-overlay-title="Open left table application" { spawn "rofi" "-show" "drun" "-theme" "windows/compact.rasi"; }
    Mod+Shift+R hotkey-overlay-title="Open center table application" { spawn "rofi" "-show" "drun" "-theme" "windows/fullscreen.rasi"; }

    // Wallpapers
    Mod+W hotkey-overlay-title="Select random wallpaper" { spawn "sh" "-c" "bash ~/.config/hypr/bin/ecosys/wallpaper.sh random"; }
    Mod+Shift+W hotkey-overlay-title="Open wallpaper selector"{ spawn "sh" "-c" "bash ~/.config/hypr/bin/ecosys/wallpaper.sh select"; }

    // Volume
    XF86AudioRaiseVolume { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh volume_up"; }
    XF86AudioLowerVolume { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh volume_down"; }
    XF86AudioMute { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh volume_mute"; }
    XF86AudioMicMute { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh micro_mute"; }

    // Player
    XF86AudioPlay { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh play_pause"; }
    XF86AudioPause { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh play_pause"; }
    XF86AudioNext { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh next_track"; }
    XF86AudioPrev { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh prev_track"; }

    // FullScreen mode
    Mod+Alt+Return { maximize-column; }
    Alt+Return { fullscreen-window; }

    // Panel toggle
    // +Shift restart
    Mod+F11 hotkey-overlay-title="Close/Open panel" { spawn "sh" "-c" "bash ~/.config/hypr/bin/hyprland/restart.sh panel-toggle show"; }
    Mod+Shift+F11 hotkey-overlay-title="Reload panel" { spawn "sh" "-c" "bash ~/.config/hypr/bin/hyprland/restart.sh panel-restart show"; }

    // Screenshots
    Print { screenshot-screen; }
    Mod+Print { screenshot; }
    Mod+Shift+Print { screenshot-window; }

    // Kill window
    Mod+Q { close-window; }

    // Fast exit of niri
    Ctrl+Alt+Delete { quit; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    // Move the focused window between the floating and the tiling layout.
    Mod+F hotkey-overlay-title="Swith float/tiling window"      { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    // Windows moving
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+A { focus-column-left; }
    Mod+D { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    // Fast moving in space
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    //Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    //Mod+H { switch-preset-column-width; }
    //Mod+Shift+H { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    //Mod+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    //Mod+Shift+P { power-off-monitors; }
}