binds {
    // Help
    Mod+H hotkey-overlay-title="All binds" { show-hotkey-overlay; }

    // Fast lock
    Mod+L hotkey-overlay-title="Lock PC" { spawn "hyprlock"; }

    // Terminal
    Mod+Return hotkey-overlay-title="Open terminal" { spawn "alacritty"; }
    Mod+Shift+Return hotkey-overlay-title="Open float terminal" { spawn "sh" "-c" "alacritty --class hyprdots-float"; }

    // File manager
    Mod+E hotkey-overlay-title="Open file manager" { spawn "nautilus"; }

    // Rofi
    Mod+R hotkey-overlay-title="Open left table application" { spawn "rofi" "-show" "drun" "-theme" "windows/compact.rasi"; }

    // Wallpapers
    Mod+W hotkey-overlay-title="Select random wallpaper" { spawn "sh" "-c" "bash ~/.config/hypr/bin/ecosys/wallpaper.sh random"; }
    Mod+Shift+W hotkey-overlay-title="Open wallpaper selector"{ spawn "sh" "-c" "bash ~/.config/hypr/bin/ecosys/wallpaper.sh select"; }

    // Volume
    XF86AudioRaiseVolume { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh volume_up"; }
    XF86AudioLowerVolume { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh volume_down"; }
    XF86AudioMute { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh volume_mute"; }
    XF86AudioMicMute { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh micro_mute"; }

    // Light Modes
    XF86MonBrightnessDown { spawn "sh" "-c" "brightnessctl s 10%-"; }
    XF86MonBrightnessUp { spawn "sh" "-c" "brightnessctl s +10%"; }

    // Player
    XF86AudioPlay { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh play_pause"; }
    XF86AudioPause { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh play_pause"; }
    XF86AudioNext { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh next_track"; }
    XF86AudioPrev { spawn "sh" "-c" "bash ~/.config/hypr/bin/tools/audio.sh prev_track"; }

    // Lock
    XF86ScreenSaver { spawn "hyprlock"; }
    XF86Sleep { spawn "hyprlock"; }

    // FullScreen mode
    Mod+Alt+Return { maximize-column; }
    Alt+Return { fullscreen-window; }

    // Panel toggle
    // +Shift restart
    Mod+F11 hotkey-overlay-title="Close/Open panel" { spawn "sh" "-c" "bash ~/.config/hypr/bin/hyprland/restart.sh panel-toggle show"; }
    Mod+Shift+F11 hotkey-overlay-title="Reload panel" { spawn "sh" "-c" "bash ~/.config/hypr/bin/hyprland/restart.sh panel-restart show"; }

    // Screenshots
    Print hotkey-overlay-title="Screenshot fullscreen" { spawn "sh" "-c" "bash ~/.config/hypr/bin/ecosys/screenshot.sh fullscreen"; }
    Mod+Print hotkey-overlay-title="Screenshot region" { spawn "sh" "-c" "bash ~/.config/hypr/bin/ecosys/screenshot.sh region"; }

    // Kill window
    Mod+Q { close-window; }

    // PowerMenu
    Mod+grave { spawn "sh" "-c" "bash ~/.config/hypr/bin/powermenu.sh"; }

    // Fast exit of niri
    Ctrl+Alt+Delete { quit; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    // Move the focused window between the floating and the tiling layout.
    Mod+F hotkey-overlay-title="Swith float/tiling window"      { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    // Windows moving
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+A { focus-column-left; }
    Mod+D { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    // Fast moving in space
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    //Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    //Mod+H { switch-preset-column-width; }
    //Mod+Shift+H { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    //Mod+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    //Mod+Shift+P { power-off-monitors; }
}