//######################################################################
//### Environment for xdg-desktop-portal (XDP)                       ###
//######################################################################
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"

//######################################################################
//### AUTOSTART                                                      ###
//###                                                                ###
//######################################################################
spawn-at-startup "gnome-keyring-daemon --start --components=pkcs11,secrets"
spawn-at-startup "sh" "-c" "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"


//######################################################################
//### Panel                                                          ###
//### Support: noctalia                                              ###
//######################################################################
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"